In [ ]:
# pip install pandas
# pip install openpyxl [ if required : error > pd.read_excel() ]

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"Datasets\Pokemon.csv") # Read

In [3]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [46]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
Energy         int64
dtype: object

In [4]:
df.head(5) # First 5 elements

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
df.tail(5) # Last 5 elements

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

                       Reading Datas

In [6]:
df.columns  # Column Names

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [7]:
# Read Specific Column   
print(df["Name"].head(5))  
print(40*"-")
print(df["Name"][6:12])   # like slicing

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object
----------------------------------------
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
11                    Blastoise
Name: Name, dtype: object

In [8]:
# Read Specific Column morethan 1
print(df[["Name","Attack","Defense"]].head(10))

                        Name  Attack  Defense
0                  Bulbasaur      49       49
1                    Ivysaur      62       63
2                   Venusaur      82       83
3      VenusaurMega Venusaur     100      123
4                 Charmander      52       43
5                 Charmeleon      64       58
6                  Charizard      84       78
7  CharizardMega Charizard X     130      111
8  CharizardMega Charizard Y     104       78
9                   Squirtle      48       65

In [9]:
# Read Specific raw
df.iloc[10]  # print index(10)th raw

#                     8
Name          Wartortle
Type 1            Water
Type 2              NaN
Total               405
HP                   59
Attack               63
Defense              80
Sp. Atk              65
Sp. Def              80
Speed                58
Generation            1
Legendary         False
Name: 10, dtype: object

In [10]:
df.iloc[6:10]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [11]:
df.iloc[6,1] # [6,1] like > raw:column

'Charizard'

In [12]:
df.iloc[6,2]

'Fire'

In [13]:
df["Type 1"]=="Fire"  # if Type 1 == "Fire" return True / else False

0      False
1      False
2      False
3      False
4       True
       ...
795    False
796    False
797    False
798    False
799     True
Name: Type 1, Length: 800, dtype: bool

In [14]:
df.loc[df["Type 1"]=="Fire"]   # if true / return that raw

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [15]:
df.loc[df["Attack"] >170]  # Print all raws their Attack value > 160

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True

In [16]:
# Sorting
    #    df.sort_values("Name",ascending=True).head(5)   
df.sort_values("Name",ascending=False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False

In [17]:
df.sort_values(["Name","HP"]).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False

In [18]:
df["Energy"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Atk"] + df["Speed"] + df["Generation"]

In [19]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Energy
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,319
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,406
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,526
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,628
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,320
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,421
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,559
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,680
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,679
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,301

In [23]:
new_df = df.drop(columns=["Type 1","Type 2"]).head(5) # column droppinf

In [24]:
new_df

,#,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Energy
0,1,Bulbasaur,318,45,49,49,65,65,45,1,False,319
1,2,Ivysaur,405,60,62,63,80,80,60,1,False,406
2,3,Venusaur,525,80,82,83,100,100,80,1,False,526
3,3,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,False,628
4,4,Charmander,309,39,52,43,60,50,65,1,False,320

In [26]:
# Save this new_df into 'new_df.csv'

# new_df.to_csv('new_df.csv')

In [31]:
df.loc[ ( df["Attack"] >170 ) & ( df["Defense"] >100 ) ]  # Filtering ( & :: AND )

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Energy
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False,537
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,833

In [34]:
spr = df.loc[ ( df["Attack"] >170 ) | ( df["Defense"] >100 ) ]  # Filtering ( | :: OR )
spr

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Energy
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,628
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,680
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,651
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False,441
81,75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False,391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,518
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,592
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,556
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,756
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,646

In [36]:
# reser index number for this set 
spr = spr.reset_index()
spr

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Energy
0,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,628
1,7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,680
2,12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,651
3,33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False,441
4,81,75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False,391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False,518
122,794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True,592
123,795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,556
124,796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,756
125,799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,646

             ------------ Aggregate statistics -------------

In [47]:
a = df[["Name","Attack","Defense"]]

In [48]:
a

                      Name  Attack  Defense
0                Bulbasaur      49       49
1                  Ivysaur      62       63
2                 Venusaur      82       83
3    VenusaurMega Venusaur     100      123
4               Charmander      52       43
..                     ...     ...      ...
795                Diancie     100      150
796    DiancieMega Diancie     160      110
797    HoopaHoopa Confined     110       60
798     HoopaHoopa Unbound     160       60
799              Volcanion     110      120

[800 rows x 3 columns]

groupby(['Name']): This part of the code groups the DataFrame by the unique values in the 'Name' column.
It essentially creates separate groups for each unique 'Name' value.

In [52]:
a.groupby(['Name']).mean()

                         Attack  Defense
Name
Abomasnow                  92.0     75.0
AbomasnowMega Abomasnow   132.0    105.0
Abra                       20.0     15.0
Absol                     130.0     60.0
AbsolMega Absol           150.0     60.0
...                         ...      ...
Zoroark                   105.0     60.0
Zorua                      65.0     40.0
Zubat                      45.0     35.0
Zweilous                   85.0     70.0
Zygarde50% Forme          100.0    121.0

[800 rows x 2 columns]

In [53]:
a.groupby(['Name']).sum()

                         Attack  Defense
Name
Abomasnow                    92       75
AbomasnowMega Abomasnow     132      105
Abra                         20       15
Absol                       130       60
AbsolMega Absol             150       60
...                         ...      ...
Zoroark                     105       60
Zorua                        65       40
Zubat                        45       35
Zweilous                     85       70
Zygarde50% Forme            100      121

[800 rows x 2 columns]

In [54]:
a.groupby(['Name']).count()

                         Attack  Defense
Name
Abomasnow                     1        1
AbomasnowMega Abomasnow       1        1
Abra                          1        1
Absol                         1        1
AbsolMega Absol               1        1
...                         ...      ...
Zoroark                       1        1
Zorua                         1        1
Zubat                         1        1
Zweilous                      1        1
Zygarde50% Forme              1        1

[800 rows x 2 columns]

Source i used ::  https://youtu.be/vmEHCJofslg?si=ksTUYthCbavxEsfb